<section id="concept" class="concept">
    <div class="conceptFv">
        <h2 class="conceptFv__ttl">concept</h2>
        <h3 class="conceptFv__subttl">毎日のセルフケアに<br>
            驚きとワクワクを</h3>
        <div class="conceptFv__img">
            <div class="pc">
                <img src="./img/img_9012-pc.jpg" width="1920" height="2460" alt="9012">

            </div>
            <div class="sp">
                <img src="./img/img_9012-sp.jpg" width="750" height="1080" alt="9012">

            </div>
        </div>
        <div class="blcin">
        <p class="conceptFv__txt">コラボレーションによる化学変化を楽しむ<br>
            真っ白なキャンバスのように、独自の色へ自由に染めて。</p>
        <p class="conceptFv__txt">デザインや機能性にこだわった商品をベースに<br>【コラボレーション】による<br>
            化学変化で無限に楽しさを掛け合わせる。</p>
        <!-- <p class="conceptFv__txt">最新モデルの“9012 イオンカールアイロン”はTGC 北九州 2023のバックステージにてヘアメイクに使用します。 </p>
        <p class="shohin__michi--note">※ヘアサロンにおけるシェア率 2023年5-6月 株式会社セイファート調べ</p> -->

    </div>
    </div>

    <div class="concept__michi">

        <div class="michiswiper swiper">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide">
                    <picture>
                        <source srcset="./img/concept01.webp" type="image/webp" >
                        <img src="./img/concept01.jpg" width="1920" height="2460" alt="michi">
                    </picture>
                </div>
                <div class="swiper-slide">
                    <picture>
                        <source srcset="./img/concept02.webp" type="image/webp" >
                        <img src="./img/concept02.jpg" width="1920" height="2460" alt="michi">
                    </picture>
                </div>


                <div class="swiper-slide">
                    <picture>
                        <source srcset="./img/concept03.webp" type="image/webp" >
                        <img src="./img/concept03.jpg" width="1920" height="2460" alt="michi">
                    </picture>
                </div>
                <div class="swiper-slide">
                    <picture>
                        <source srcset="./img/img_concept03b.webp" type="image/webp" >
                        <img src="./img/img_concept03b.jpg" width="811" height="1040" alt="michi">
                    </picture>
                </div>
                <div class="swiper-slide">
                    <picture>
                        <source srcset="./img/concept04.webp" type="image/webp" >
                        <img src="./img/concept04.jpg" width="1920" height="2460" alt="michi">
                    </picture>
                </div>
                <div class="swiper-slide">
                    <picture>
                        <source srcset="./img/concept05.webp" type="image/webp" >
                        <img src="./img/concept05.jpg" width="1920" height="2460" alt="michi">
                    </picture>
                </div>
                <div class="swiper-slide">
                    <picture>
                        <source srcset="./img/concept06.webp" type="image/webp" >
                        <img src="./img/concept06.jpg" width="1920" height="2460" alt="michi">
                    </picture>
                </div>
                <div class="swiper-slide">
                    <picture>
                        <source srcset="./img/concept07.webp" type="image/webp" >
                        <img src="./img/concept07.jpg" width="1920" height="2460" alt="michi">
                    </picture>
                </div>
            </div>

        </div>




    </div>


</section>