<section id="shohin" class="shohin">
    <div class="shohin__fv">
        <picture>
            <source srcset="./img/img_fv03.webp" type="image/webp" >
            <img src="./img/img_fv03.jpg" width="2900" height="1900" alt="9012 38">
        </picture>
        
    </div>
    <div class="shohin__cart">

        <div class="shohin__michi--blc">
            <!-- <p class="shohin__michi--ttl">9012（キューゼロイチニ）は、カールアイロンのヘアサロンシェアNo.<sup>※1</sup><br>
                ブランド「クレイツ」のクラフトマンシップを活かし、髪・肌・ボディなど<br>トータルな毎日のセルフケアやスタイリングに<br>「驚き」「楽しさ」を感じて頂ける、新感覚の美容ブランドです。
                <br><br>最新モデルの“9012 イオンカールアイロン”は<br>TGC 北九州 2023のバックステージにてヘアメイクに使用します</p> -->
                <!-- <p class="shohin__michi--ttl">9012イオンカールアイロン 38mm」は<br>Z世代が今最も注目するファッションアイコン、<br>ミチとコラボした限定カラーです♡</p> -->
                <p class="shohin__michi--ttl">9012（キューゼロイチニ）は、カールアイロンのヘアサロンシェアNo.1<sup>※</sup>ブランド「クレイツ」のクラフトマンシップを活かし、 髪・肌・ボディなどトータルな毎日のセルフケアやスタイリングに 「驚き」「楽しさ」を感じて頂ける、新感覚の美容ブランドです。</p>
                <p class="shohin__michi--ttl">最新モデルの“9012 イオンカールアイロン”はTGC 北九州  2023のバッグステージにて出演するモデルのヘアメイクでも使用します。</p>
                <p class="shohin__michi--ttl">「9012イオンカールアイロン 38mm」はZ世代が今最も注目するファッションアイコン、ミチとコラボした限定カラーです。</p>
                    
                <p class="shohin__michi--note">※ヘアサロンにおけるシェア率 2023年5-6月 株式会社セイファート調べ」</p>
        </div>


        <div class="blcin">
            <div class="shohin__blc">
                <p class="shohin__blc--num">9012</p>

                <div class="shohin01 swiper">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper">
                        <!-- Slides -->
                        <div class="swiper-slide">
                            <picture>
                                <source srcset="./img/img38_01.webp" type="image/webp" >
                                <img src="./img/img38_01.jpg" width="1080" height="1311" alt="9012 38">
                            </picture>
                        </div>
                        <div class="swiper-slide">
                            <picture>
                                <source srcset="./img/img38_02.webp" type="image/webp" >
                                <img src="./img/img38_02.jpg" width="1080" height="1311" alt="9012 38">
                            </picture>
                        </div>
                        <div class="swiper-slide">
                            <picture>
                                <source srcset="./img/img38_03.webp" type="image/webp" >
                                <img src="./img/img38_03.jpg" width="1080" height="1311" alt="9012 38">
                            </picture>
                        </div>
                        <div class="swiper-slide">
                            <picture>
                                <source srcset="./img/img38_04.webp" type="image/webp" >
                                <img src="./img/img38_04.jpg" width="1080" height="1311" alt="9012 38">
                            </picture>
                        </div>
                    </div>
                    <!-- If we need navigation buttons -->
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>
                <p class="shohin__blc--feature00">ミチコラボモデル</p>

                <div class="shohin__blc--con">
                    <p class="shohin__blc--name">9012 イオンカールアイロン38mm</p>
                    <p class="shohin__blc--type">型番：CC9012-G38BP</p>
                    <p class="shohin__blc--txt">9012の真っ白なキャンバスをミチカラーで染める。
                        38ｍｍは、トレンドの韓国ヘアやわざとらしくないナチュラルなカールも演出できます。MICHIhairも9012イオンカールアイロン38mmで作れちゃう♡</p>

                    <!-- <a href="https://holisticcures.shop/products/detail/90?private_key=QUUe253cskUfigIB3qvhfjfzyVNoaOUZ" target="_blank" rel="noreferrer" class="shohin__blc--buy">購入する</a> -->
                    <a href="https://holisticcures.shop/products/detail/90" target="_blank" rel="noreferrer" class="shohin__blc--look mt20">商品を詳しくみる</a>
                </div>
            </div>
        </div>
    </div>
    <div class="shohin__michi">

        <div class="michiswiper swiper">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide">
                    <picture>
                        <source srcset="./img/michi01.webp" type="image/webp" >
                        <img src="./img/michi01.jpg" width="1920" height="2460" alt="michi">
                    </picture>
                </div>
                <div class="swiper-slide">
                    <picture>
                        <source srcset="./img/michi02.webp" type="image/webp" >
                        <img src="./img/michi02.jpg" width="1920" height="2460" alt="michi">
                    </picture>
                </div>
                <div class="swiper-slide">
                    <picture>
                        <source srcset="./img/michi02b.webp" type="image/webp" >
                        <img src="./img/michi02b.jpg" width="1920" height="2460" alt="michi">
                    </picture>
                </div>

                <div class="swiper-slide">
                    <picture>
                        <source srcset="./img/michi03.webp" type="image/webp" >
                        <img src="./img/michi03.jpg" width="1920" height="2460" alt="michi">
                    </picture>
                </div>
                <div class="swiper-slide">
                    <picture>
                        <source srcset="./img/michi04.webp" type="image/webp" >
                        <img src="./img/michi04.jpg" width="1920" height="2460" alt="michi">
                    </picture>
                </div>
                <div class="swiper-slide">
                    <picture>
                        <source srcset="./img/michi05.webp" type="image/webp" >
                        <img src="./img/michi05.jpg" width="1920" height="2460" alt="michi">
                    </picture>
                </div>

            </div>

        </div>
        <h2 class="profile__michi">MICHI</h2>

        <div class="message">
            <h2 class="message__ttl">Message</h2>
            <p class="message__txt">みなさんこんにちは、ミチです。<br>
                9012×MICHIのヘアアイロンのページを<br>
                ご覧いただきありがとうございます。<br>
                私のこだわりをぎゅぎゅっと詰め込んだ<br>
                理想のものが出来ました。<br>
                おうちの中で目にするだけで、持っているだけで、<br>
                気持ちがときめくようなカラーに、<br>
                クレイツさんの性能を兼ね備えた<br>
                絶対におすすめしたいものです。<br>
                今回は海外兼用にしていただいて、旅のお供にも♡<br>
                毎日が9012で彩られますように。</p>
        </div>
        <div class="profile">
            <!-- <h2 class="profile__ttl">PROFILE</h2>
            <p class="profile__name">MICHI</p> -->
            <p class="profile__name--jp">ミチ</p>
            <p class="profile__txt">1998年生まれ。中国出身。<br>
                フォロワー総数は100万超！<br>
                TV、雑誌、ショーなど様々な舞台で活躍する<br>
                注目のZ世代のファッションアイコン。<br>
                現在sweetモデルとして活躍中。</p>
            
            <ul class="profile__link">
                <li><a href="https://www.instagram.com/mi0306chi/?hl=ja" target="_blank" rel="noreferrer" class="profile__link--insta">Instagram</a></li>
                <li><a href="https://twitter.com/mi0306chi" target="_blank" rel="noreferrer" class="profile__link--twitter">Twitter</a></li>
                <li><a href="https://www.tiktok.com/@mi0306chi36?" target="_blank" rel="noreferrer" class="profile__link--tiktok">Tiktok</a></li>
            </ul>
        </div>

    </div>

    <!-- //32mm -->

</section>