@use "./variable"as var;

.shohin02{
    background: #FFF;
    margin: 0;
    .swiper{
        img{
            border: solid 1px #CCC;
        }
    }
    .shohin__blc--buy{
        background-color: #888;
    }
    .shohin__blc--look{
        border: solid 1px #888888;
        color: #888888;
        background-image: url('../../img/icon_arrow02.svg');

    }
    .shohin__blc    {
        .swiper-button-next,
        .swiper-button-prev {
            --swiper-navigation-color: #888888; //ここに変更する色を指定
        }
    }

}
.mt20{
    margin-top: 20px;
}
.shohin {
    background: var.$pink;
    padding-top: 120px;
    margin: 0 0 0;
    &__michi{
        padding: 80px 0 0 0;
        &--blc{
            margin: 0 auto 120px;
            max-width: 610px;
        }
        &--ttl{
            @include var.fz(17);
            text-align: center;
            margin: 0 auto 80px;
            line-height: 2;
            color: #888;
            sup{
                font-size: 0.6em;
            }
        }
        &--txt{
            @include var.fz(14);
            line-height: 1.8;
            text-align: center;
            color: #888;
            margin: 0 auto 10px;

        }
        &--note{
            color: #888;
            @include var.fz(10);
            text-align: center;

        }
    }
    &__fv{
        margin: 0 auto 120px;

    }
    &__cart{
        padding: 0 0 40px 0;
        &--wrapper{

            display: flex;
            justify-content: space-between;
            padding: 120px  0;
            max-width: 840px;
            margin: 0 auto;
            .shohin__blc{
                width: 40%;
            }
        }
    }
    
    &__blc{
        width: 360px;
        margin: 0 auto;
        position: relative;
        .swiper-button-next,
        .swiper-button-prev {
            --swiper-navigation-color: #edbcb9; //ここに変更する色を指定
        }
        img{
            border-radius: 10px;
            width: 100%;
            height: auto;
        }
        &--feature{
            @include var.bg;
            background: url('../../img/feature05.svg') no-repeat 0 0;
            width: 90px;
            height: 90px;
            position: absolute;
            right: -18px;
            top:0;
            z-index: 2;
        }
        &--feature00{
            @include var.bg;
            background: url('../../img/feature03.svg') no-repeat 0 0;
            width: 110px;
            height: 110px;
            position: absolute;
            right: -50px;
            top: -10px;
            z-index: 2;
        }
        &--num{
            // color: #edbcb9;
            // @include var.fz(30);
            // margin: 0 0 10px;
            // font-weight: bold;
            // line-height: 1;
            // display: inline-block;
            // border-left: solid 2px #edbcb9;
            // padding-left: 10px;
            // font-family: "fot-tsukuardgothic-std", sans-serif;
            // font-weight: 400;
            // font-style: normal;
            @include var.bg;
            background: url('../../img/9012.svg') no-repeat 0 0;
            width: 100px;
            height: 31px;
            background-size: 100% auto;
            margin: 0 0 5px 3px;
         }
        &--num02{
            @include var.bg;
            background: url('../../img/9012_888.svg') no-repeat 0 0;
            width: 100px;
            height: 31px;
            background-size: 100% auto;
            margin: 0 0 5px 3px;
        }
        &--name{
            @include var.fz(18);
            line-height: 1.6; 
            margin: 10px 0 0;
            color: #888888;
            // font-family: "fot-tsukuardgothic-std", sans-serif;
            // font-weight: 700;
            // font-style: normal;
        }
        &--type{
            @include var.fz(14);
            line-height: 1.2; 
            margin: 5px 0 20px;
            color: #888888;

        }
        &--txt{
            @include var.fz(16);
            line-height: 1.6; 
            margin: 0;
            color: #888888;
            font-family: "fot-tsukuardgothic-std", sans-serif;
            font-weight: 400;
            font-style: normal;

        }
        &--buy{
            margin: 20px auto 10px;
            background-image: url('../../img/icon_cart.svg');
            background-repeat: no-repeat;
            background-size: 26px 26px;
            background-position: right 30px center;
            display: block;
            border-radius: 50px; 
            width: 100%;
            color: #fff;
            background-color: #edbcb9;
            @include var.fz(20);
            line-height: 1;
            padding: 20px 0;
            text-decoration: none;
            text-align: center;
            &:hover{
                opacity: 0.7;
            }
        }
        &--look{
            margin: 0 auto 30px;
            background-image: url('../../img/icon_arrow.svg');
            background-repeat: no-repeat;
            background-size: 26px 26px;
            background-position: right 30px center;
            display: block;
            border-radius: 50px; 
            width: 100%;
            color: #edbcb9;
            border: solid 1px #edbcb9;
            background-color: #fff;
            @include var.fz(20);
            line-height: 1;
            padding: 20px 0;
            text-decoration: none;
            text-align: center;
            &.mt20{
                margin-top: 28px;
            }
            &:hover{
                opacity: 0.7;
            }
        }
    }
    @media screen and (max-width: var.$spbp) {
        padding: 16vw 0 5% 0;

        &__fv{
            margin: 0 auto;
        }
        &__michi{
            padding: 20vw 0 0 0;
            &--ttl{
                @include var.fz(14);
                margin: 0 auto 40px;
                line-height: 2;
                width: 80vw;
                br{
                    display: none;
                }
            }
            &--txt{
                width: 80vw;

                @include var.fz(12);
                line-height: 1.6;
                text-align: center;
                margin: 0 auto 20px;
    
            }
        }
        &__cart{
            padding:5vw 0 5% 0;
            &--wrapper{
                display: block;
                padding: 20vw 0 1vw;
                max-width: 76vw;
                margin: 0 auto;
                .shohin__blc{
                    width: 100%;
                    margin-bottom: 30vw;
                }
            }
        }
        &__blc{
            width: 76vw;
            margin: 0 auto;
            position: relative;

            &--feature{
               width: 24vw;
                height: 24vw;
                position: absolute;
                right: -7vw;
                top: -2vw;
            }

            &--feature00{
                width: 24vw;
                 height: 24vw;
                 position: absolute;
                 right: -7vw;
                 top: -2vw;
             }
            &--num{
                // @include var.fz(30);
                // margin: 0 0 10px;

                // padding-left: 10px;
            }
            &--name{
                @include var.fz(18);
                line-height: 1.6; 
                margin: 10px 0 0;

            }
            &--type{
                @include var.fz(14);
                line-height: 1.2; 
                margin: 5px 0 20px;
                color: #888888;
    
            }
            &--txt{
                @include var.fz(16);
                line-height: 1.6; 

    
            }
            &--buy{
                margin: 20px auto 10px;

                background-size: 26px 26px;
                background-position: right 30px center;

                @include var.fz(20);
                padding: 20px 0;

                &:hover{
                    opacity: 1;
                }
            }
            &--look{
                margin: 0 auto 30px;

                
                background-size: 26px 26px;
                background-position: right 30px center;

                @include var.fz(20);

                padding: 20px 0;
                text-decoration: none;
                text-align: center;
                &:hover{
                    opacity: 1;
                }
                &.mt20{
                    margin-top: 7vw;
                }
            }
        }
    }

}

.michiswiper{
    transition-timing-function: linear;
    width: 100%;
    position: relative;
    overflow: hidden;
    /* スライダーのwrapper */
    .swiper-wrapper {
        transition-timing-function: linear;
    }
    
    /* スライド */
    .swiper-slide {
        // height: auto !important; /* 高さを指定 */
        // width: 500px !important;
    }
    
    /* スライド内の画像 */
    .swiper-slide img {
        width: 100%;
        height: auto;
    }
}
.message{
    margin: 0 auto 120px;
    &__ttl{
        @include var.bg;
        background: url('../../img/ttl_message.svg');
        width: 140px;
        height: 18px;
        margin: 80px auto 20px;
        background-repeat: no-repeat;
        background-size: 100 auto;
    }
    &__txt{
        text-align: center;
        @include var.fz(14);
        margin: 10px auto 0;
        color: #888888;
        line-height: 2;
        letter-spacing: 0.1em;
    }
}
.profile{
    &__michi{
        @include var.bg;
        background: url('../../img/logo_michi-pink.png');
        width: 218px;
        height: 28px;
        background-repeat: no-repeat;
        background-size: 100% auto;
        margin: 60px auto 0;
    }
    &__ttl{
        @include var.fz(16);
        font-family: 'Cormorant Garamond', serif;        font-weight: 300;
        text-align: center;
        letter-spacing: 0.1em;
    }
    &__name{
        @include var.fz(42);
        font-weight: 400;
        margin: 60px auto 0;
        text-align: center;
        font-family: 'Cormorant Garamond', serif;
        &--jp{
            text-align: center;
            @include var.fz(14);
            margin: 40px auto 0;
            font-weight: bold;
            color: #888;
        }
    }
    &__txt{
        text-align: center;
        @include var.fz(14);
        margin: 10px auto 0;
        color: #888888;
        line-height: 1.8;
    }
    &__link{
        display: flex;
        margin: 50px auto 0;
        padding: 0 0 80px;
        justify-content: center;
        &--insta{
            @include var.bg;
            background: url('../../img/icon_insta-pink02.svg');
            width: 38px;
            height: 38px;
        }
        &--twitter{
            @include var.bg;
            background: url('../../img/icon_tw-pink02.svg');
            width: 38px;
            height: 38px;
        }
        &--tiktok{
            @include var.bg;
            background: url('../../img/icon_tiktok02.svg');
            width: 38px;
            height: 38px;
        }
        li{
            font-size: 0;
            padding: 0;
            margin: 0 10px;
            a{
                &:hover{
                    opacity: 0.7;
                }
            }
        }
    }
    @media screen and (max-width: var.$spbp) {
        &__link{
            margin: 50px auto 0;
            padding: 0 0 10vw;

        }
    }
}


//カート
.shohin__blc--look{
    border: none;
}
input[type="submit"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    /* クリックした際に枠線をnone消す */
    outline: none;
    /* 影を消す */
    box-shadow: none;
}

// @include var.webpBg('.footer__anotherlogo', var.$imgpath+'another_logo', 'png');