@charset "UTF-8";
@keyframes fadeInAnime {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.yamimain {
  width: 100%;
  font-size: 0;
}
.yamimain img {
  width: 100%;
  height: auto;
}
.yamimain a {
  white-space: nowrap;
}
.yamimain a:hover {
  opacity: 0.7;
}
.yamimain__blc {
  margin: 50px auto 50px;
}
.yamimain__blc img {
  border-radius: 20px;
}
.yamimain__blc--small {
  margin: 0 0 30px;
  border: solid 2px #E60037;
  padding: 40px;
  background-color: #FFF;
}
.yamimain__blc--ttl {
  text-align: center;
  font-size: 1.5rem;
  line-height: 1.4;
  margin: 0 auto 20px;
}
.yamimain__blc--ttl span {
  color: #E60037;
  display: inline-block;
  padding: 0 10px;
}
.yamimain__blc--txt {
  font-size: 1rem;
  line-height: 1.6;
  text-align: center;
  margin: 20px auto;
}
.yamimain__blc--txt span {
  color: #E60037;
  display: inline-block;
  margin: 0 10px;
}
.yamimain__blc--txt2 {
  font-size: 1.625rem;
  line-height: 1;
  margin: 20px auto;
}
.yamimain__blc--txt2 .YummisToy {
  width: 100px;
  height: 36px;
  cursor: pointer;
  position: relative;
  font-size: 0;
  transition: transform 0.7s;
  display: inline-block;
  margin: 0 6px;
}
.yamimain__blc--txt2 .YummisToy img {
  height: auto;
  left: 0;
  position: absolute;
  width: 100%;
  border-radius: 0;
}
.yamimain__blc--txt2 .YummisToy img:last-of-type {
  opacity: 0;
  transition: opacity 0.7s;
}
.yamimain__blc--txt2 a {
  display: flex;
  justify-content: center;
  align-items: center;
}
.yamimain__blc--txt2 a:hover .YummisToy img {
  opacity: 1;
}
@media screen and (max-width: 768px) {
  .yamimain__blc {
    width: calc(100% - 32px);
  }
  .yamimain__blc--small {
    margin: 0 0 20px;
    padding: 20px;
  }
  .yamimain__blc--ttl {
    text-align: center;
    font-size: 1.375rem;
    line-height: 1.4;
    margin: 0 auto 20px;
  }
  .yamimain__blc--ttl br {
    display: none;
  }
  .yamimain__blc--txt {
    font-size: 0.875rem;
    line-height: 1.6;
    text-align: left;
  }
  .yamimain__blc--txt2 {
    font-size: 1.125rem;
    margin: 16px auto;
  }
  .yamimain__blc--txt2 .YummisToy {
    width: 86px;
    height: 31px;
    margin: 0 6px;
  }
  .yamimain__blc img {
    border-radius: 8px;
  }
}
.yamimain__about {
  font-weight: bold;
  color: #FFF;
  background: #F54335;
  font-size: 1.5rem;
  text-decoration: none;
  padding: 10px 50px;
  border-radius: 10px;
  text-align: center;
  margin: 0 auto 40px;
  display: block;
  width: 50%;
}

.boxRight .dn {
  display: none !important;
}

.yamifooter {
  margin: 100px auto 0;
  padding: 158px 0 0;
}
.yamifooter__inner {
  max-width: 640px;
  margin: 0 auto;
}
.yamifooter__ttl {
  background: url("https://basefile.akamaized.net/yammystoy-base-ec/64e479cd0f66d/footer_followus.png") no-repeat 0 0;
  display: block;
  width: 292px;
  height: 37px;
  background-size: 100% auto;
  white-space: nowrap;
  text-indent: -9999px;
  margin: 0 auto 92px;
  font-size: 0;
}
.yamifooter a {
  margin: 0 12px;
  background-repeat: no-repeat;
  width: 62px;
  height: 62px;
  background-size: 100% auto;
  white-space: nowrap;
  text-indent: -9999px;
  display: block;
}
.yamifooter a:hover {
  background-size: 100% auto;
}
.yamifooter__subttl01 {
  white-space: nowrap;
  text-indent: -9999px;
  background: url("https://basefile.akamaized.net/yammystoy-base-ec/64e585a1e85fe/footer_yammy01pc.png") no-repeat 0 0;
  background-size: 100% auto;
  width: 640px;
  height: 19px;
  margin: 0 auto 26px;
}
.yamifooter__subttl02 {
  white-space: nowrap;
  text-indent: -9999px;
  background: url("https://basefile.akamaized.net/yammystoy-base-ec/64e58644e272b/footer_yammy02pc.png") no-repeat 0 0;
  background-size: 100% auto;
  width: 640px;
  height: 19px;
  margin: 0 auto 26px;
}
.yamifooter__snsblc {
  display: flex;
  justify-content: center;
  margin: 0 auto 65px;
}
.yamifooter__snsblc a {
  margin: 0 9px;
}
.yamifooter__twitter {
  background: url("https://basefile.akamaized.net/yammystoy-base-ec/64e485de9f1bd/icon_tw.png");
}
.yamifooter__twitter:hover {
  background: url("https://basefile.akamaized.net/yammystoy-base-ec/64e4861c71af6/icon_tw-b.png");
}
.yamifooter__tiktok {
  background: url("https://basefile.akamaized.net/yammystoy-base-ec/64e485fd6f603/icon_tiktok.png");
}
.yamifooter__tiktok:hover {
  background: url("https://basefile.akamaized.net/yammystoy-base-ec/64e4866fa3c0f/icon_tiktok-b.png");
}
.yamifooter__youtube {
  background: url("https://basefile.akamaized.net/yammystoy-base-ec/64e485ec1faee/icon_youtube.png");
}
.yamifooter__youtube:hover {
  background: url("https://basefile.akamaized.net/yammystoy-base-ec/64e486543e838/icon_youtube-b.png");
}
.yamifooter__insta {
  background: url("https://basefile.akamaized.net/yammystoy-base-ec/64e4860d07d9f/icon_inst.png");
}
.yamifooter__insta:hover {
  background: url("https://basefile.akamaized.net/yammystoy-base-ec/64e486379979f/icon_inst-b.png");
}
@media screen and (max-width: 768px) {
  .yamifooter {
    padding: 14vw 0 0;
  }
  .yamifooter__inner {
    max-width: 100%;
    margin: 0 auto;
  }
  .yamifooter__ttl {
    width: 39vw;
    height: 5vw;
    margin: 0 auto 11.7vw;
    font-size: 0;
  }
  .yamifooter a {
    margin: 0 1.5vw;
    background-repeat: no-repeat;
    width: 10vw;
    height: 10vw;
    background-size: 100% auto;
    white-space: nowrap;
    text-indent: -9999px;
    display: block;
  }
  .yamifooter a:hover {
    background-size: 100% auto;
  }
  .yamifooter__subttl01 {
    white-space: nowrap;
    text-indent: -9999px;
    background: url("https://basefile.akamaized.net/yammystoy-base-ec/64e58cd564043/footer_yammy01sp.png") no-repeat 0 0;
    background-size: 100% auto;
    width: 50vw;
    height: 7.5vw;
    margin: 0 auto 3.5vw;
  }
  .yamifooter__subttl02 {
    white-space: nowrap;
    text-indent: -9999px;
    background: url("https://basefile.akamaized.net/yammystoy-base-ec/64e58cda6008e/footer_yammy02sp.png") no-repeat 0 0;
    background-size: 100% auto;
    width: 50vw;
    height: 7.5vw;
    margin: 0 auto 3.5vw;
  }
  .yamifooter__snsblc {
    margin: 0 auto 12vw;
  }
  .yamifooter__snsblc a {
    margin: 0 1.5vw;
  }
}

#baseMenu .base {
  display: none;
}

#g-nav {
  /*position:fixed;にし、z-indexの数値を大きくして前面へ*/
  position: fixed;
  z-index: 999;
  /*ナビのスタート位置と形状*/
  top: 0;
  left: -120%;
  width: 100%;
  height: 100vh; /*ナビの高さ*/
  background: #FFF;
  /*動き*/
  transition: all 0.3s;
}

/*アクティブクラスがついたら位置を0に*/
#g-nav.panelactive {
  left: 0;
}

/*ナビゲーションの縦スクロール*/
#g-nav.panelactive #g-nav-list {
  /*ナビの数が増えた場合縦スクロール*/
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100vh; /*表示する高さ*/
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

/*ナビゲーション*/
#g-nav ul {
  /*ナビゲーション天地中央揃え*/
  position: absolute;
  z-index: 999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*リストのレイアウト設定*/
#g-nav li {
  list-style: none;
  text-align: center;
}

#g-nav li a {
  color: #000;
  text-decoration: none;
  padding: 10px;
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: bold;
}

/*========= ボタンのためのCSS ===============*/
.openbtn {
  position: fixed;
  z-index: 9999; /*ボタンを最前面に*/
  top: 13px;
  left: 13px;
  cursor: pointer;
  width: 50px;
  height: 50px;
}

/*×に変化*/
.openbtn span {
  display: inline-block;
  transition: all 0.4s;
  position: absolute;
  left: 14px;
  height: 3px;
  border-radius: 2px;
  background-color: #000;
  width: 45%;
}

.openbtn span:nth-of-type(1) {
  top: 15px;
}

.openbtn span:nth-of-type(2) {
  top: 23px;
}

.openbtn span:nth-of-type(3) {
  top: 31px;
}

.openbtn.active span:nth-of-type(1) {
  top: 18px;
  left: 18px;
  transform: translateY(6px) rotate(-45deg);
  width: 30%;
}

.openbtn.active span:nth-of-type(2) {
  opacity: 0;
}

.openbtn.active span:nth-of-type(3) {
  top: 30px;
  left: 18px;
  transform: translateY(-6px) rotate(45deg);
  width: 30%;
}

body.shop #shopHeader h1 {
  width: 180px;
  text-align: center;
  margin: 0 auto 0;
  padding-top: 25px;
  font-size: 0;
}
body.shop #shopHeader h1 a {
  font-size: 0;
}

.main {
  background-color: rgba(255, 255, 255, 0);
}

body.shop #mainHeader {
  margin-bottom: 25px;
}

#baseMenu > ul > li a {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  box-shadow: none;
}
#baseMenu > ul > li a img {
  display: none;
}

#baseMenu > ul > li.cart a {
  background: url("https://basefile.akamaized.net/yammystoy-base-ec/64c274fe2c202/cart.png") no-repeat 0 0;
  background-size: 100% auto;
  width: 30px;
  height: 30px;
  display: block;
  box-sizing: border-box;
}

#baseMenu {
  top: calc(var(--information-banner-height, 0px) + 23px);
}

body#shopDetailPage .shareButtons {
  display: none;
}

#reportBtn {
  display: none;
}

.purchase__zeikomi {
  font-size: 0.8em;
}

@media (min-width: 769px) {
  body#shopDetailPage #mainContent {
    width: 830px;
  }
}
@media screen and (max-width: 768px) {
  body#shopDetailPage #mainContent {
    padding-top: 10vw;
  }
}
html {
  scroll-behavior: auto;
}

body {
  font-family: "Cormorant Garamond", serif;
  font-family: "Noto Sans JP", sans-serif;
  width: 100%;
  margin: 0;
}

.blcin {
  width: 560px;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .blcin {
    width: 100%;
  }
}

.pc {
  display: block;
}

.sp {
  display: none;
}

@media screen and (max-width: 768px) {
  .pc {
    display: none;
  }
  .sp {
    display: block;
  }
}
.main__notice {
  text-align: center;
  color: #FFF;
  font-size: 0.75rem;
}
.main img {
  width: 100%;
  height: auto;
}